#numPages
{
	text-align: center;
	margin-bottom: 1.5em;
}

#numPages > span
{
	cursor: pointer;
	border-radius: 2em;
	padding: 0.5em 1em 0.5em 1em;
	background-color: #5c0202;
	color: #f7e5e5;
	font-size: 1.001em;
	font-weight: bold;
	border: 0.1em solid transparent;
}

#numPages > span:hover, #numPages > span.currentPage:hover
{
	background-color: #240000;
	color: #ffffff;
	border-color: transparent;
}

#numPages > span.currentPage
{
	color: #5c0202;
	background-color: initial;
	border-color: #5c0202;
}