/*css lista aziende*/
@media screen and (min-width: 1024px) {
	.responsabile-approvazione-azienda-profilo {
		
		width: 80%;
		margin-left: 10%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-top: 2.5em;
		margin-bottom: 2.5em;
	
	}
	
	.tabella-info-azienda {
		display: table;
	}
	.parametri-azienda {
		display: table-row;
		font-size: medium;
		margin-left: 1em;
	}
	.elemento-parametri-azienda {
		
		display: table-cell;
		padding-left: 10em;
		font-size: medium;
		margin-left: 1em;
		padding-right: 1em;
	}
	
}

@media screen and (max-width: 1024px) {

	.responsabile-approvazione-azienda-profilo {
		width: 100%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-bottom: 5em;
		margin-top: 2.5em;
	}
	.parametri-azienda {
		display: table-row;
		display: block;
		padding-left: 1em;
		font-size: small;
		border-style:solid;
		border-width: 0.3em;
		border-right-width: 0.1em;
		border-left-width: 0em;
		border-top-width: 0em;
		border-radius: 1em;
		border-color: #00627d;
	}
	
}
/*fine css lista aziende*/



.bottoni-conferma-professore {
	background-color: white;
	color: black;
	border-color: #adadad;
	border-radius: 0.3em;
}

.bottoni-conferma-professore:hover {
	background-color: #e6e6e6;
}

.bottone-professore-accetta {
	background-color: #006600;
	border-color: white;
	color: white;
}

.bottone-professore-rifiuta {
	
	background-color: #cc0000;
	border-color: white;
	color: white;
}
.bottone-professore-rifiuta:hover {
	background-color: red;
	box-shadow: 0em 0em 0em 0.1em white inset;
	color: white;
}
.bottone-professore-accetta:hover {
	background-color: green;
	box-shadow: 0em 0em 0em 0.1em white inset;
	color: white;
}


.col-md-3
{
	width:auto; 
}

.col-md-9.cta-contents
{
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #00627d;
}

@media screen and (max-width: 991px)
{
	.col-md-9.cta-contents
{
	border-right-width: 0em;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #00627d;
}
}




/*TABELLA TIROCINIO*/


	.tabelle {
		display: table;
	}
	.parametri-tirocinio {
		display: table-row;
		font-size: medium;
		margin-left: 1em;
	}
	.elemento-parametri-tirocinio {
	
		display: table-cell;
		padding-left: 1em;
		font-size: medium;
		margin-left: 1em;
		padding-right: 1em;
	}