
/*O R L A N D O*/
@media screen and (min-width: 1024px) {
	#profilo-curriculum {
		float: left;
		width: 45%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-bottom: 2.5em;
		margin-top: 2.5em;
		
	}
	#profilo-dati-anagrafici {
		float: right;
		width: 48%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-bottom: 2.5em;
		margin-top: 2.5em;
	}
	.tabelle {
		display: table;
	}
	.parametri-studente {
		display: table-row;
		font-size: medium;
		margin-left: 1em;
	}
	.elemento-parametri-studente {
		border-style:solid;
		border-width: 0.05em;
		border-color: #00627d;
		display: table-cell;
		padding-left: 1em;
		font-size: medium;
		margin-left: 1em;
		padding-right: 1em;
	}
	
	#bottone-curriculum
	{
	width: 20em;
	float: right;
	}

}

@media screen and (max-width: 1024px) {
	#profilo-curriculum {
		width: 100%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-bottom: 2.5em;
		margin-top: 2.5em;
	}
	#profilo-dati-anagrafici {
		width: 100%;
		color: #fff;
		background-color: #32a3c2;
		border-color: #00627d;
		border-style: solid;
		border-width: 0.2em;
		border-radius: 1em;
		margin-bottom: 5em;
		margin-top: 2.5em;
	}
	.parametri-studente {
		display: table-row;
		display: block;
		padding-left: 1em;
		font-size: medium;
		margin-left: 1em;
		border-style:solid;
		border-width: 0.05em;
		
		border-color: #00627d;
	}
}

/*PARAMETRI STUDENTE*/