html {
  position: relative;  /*SORVONO PER IL FOOTER*/
  min-height: 100%;
}

body {
	padding-top: 0px;
	/*position: relative;*/
	/* Margin bottom by footer height */
 	 margin-bottom: 60px;
 	 background-color: #f9f9f9;
}

.carousel-inner >.item{
	min-height: 200px;
	background-size: cover;
	background-position: center center;
}
 





/*Slider*/
.left.carousel-control
{
	visibility: hidden;
}
.right.carousel-control
{
	visibility: hidden;
}

/*Effetti nav */
.nav-tabs
{
	padding: 0.3em;
	border-bottom: 0px;	
}
.nav-tabs > li.active > a:hover
{
	border-radius: 0.7em;
	background-color: #cc7a00;
}
.nav-tabs > li > a:hover {
	border-radius: 0.7em;
	background-color: #cc7a00;
	color: white;
	
}
.nav-tabs > li.active {
	
	border-radius: 0.7em;
	background-color: #cc7a00;
	color: white;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #cc7a00;
    color: white;
    border-radius: 0.7em;
}

#attiva > a
{
	border-radius: 0.7em;
	color:white;
	background-color: #cc7a00;
}

/*FORM*/




#inputEmail, #inputPassword, .btn.btn-lg.btn-primary.btn-block.btn-signin
{
	width: 100%;
}

.form-signin
{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 4em;
}


/*FOOTER*/
.footer {
	padding:0.7em;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  
  background-color: #f90;
}

.footer > div{
	text-align: center;
	color: #23527c;
}

/*ROBA COMUNE*/

.bs-calltoaction {
	position: relative;
	width: auto;
	padding: 15px 25px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.bs-calltoaction>.row {
	display: table;
	width: calc(100% + 30px);
}

.bs-calltoaction>.row>[class^="col-"], .bs-calltoaction>.row>[class*=" col-"]
	{
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.cta-contents {
	padding-top: 10px;
	padding-bottom: 10px;
}

.cta-title {
	margin: 0 auto 15px;
	padding: 0;
}

.cta-desc {
	padding: 0;
}

.cta-desc p:last-child {
	margin-bottom: 0;
}

.cta-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media ( max-width : 991px) {
	.bs-calltoaction>.row {
		display: block;
		width: auto;
	}
	.bs-calltoaction>.row>[class^="col-"], .bs-calltoaction>.row>[class*=" col-"]
		{
		float: none;
		display: block;
		vertical-align: middle;
		position: relative;
	}
	.cta-contents {
		text-align: center;
	}
}

.bs-calltoaction.bs-calltoaction-default {
	color: #fff;
	background-color: #32a3c2;
	border-color: #00627d;
	border-width: 0.2em;
	border-radius: 1em;
}

.bs-calltoaction.bs-calltoaction-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
	.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
	.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
	.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
	.bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
	border-color: #fff;
}



/*PARAMETRI AZIENDA*/
.parametri-azienda,.parametri-professore {
	font-size: x-large;
}

/*MARGINE AI CONTAINER*/
.col-sm-12 {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}


